HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

## env file
.env
.env.*

## seed config
src/main/java/com/caro/bizkit/common/config/SeedDataConfig.java

## 로컬 개발/디버깅용
src/main/java/com/caro/bizkit/common/monitoring/
k6/
src/main/resources/application-dev.yml
src/main/resources/static/*-test.html
docker-compose.yml

## 설계 문서
docs/
